//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= '케이니끄투'

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left; width: 100%; margin-left: -5px;')
		div(style='float: left; padding-left: 70px;')
			img#logo(src='/img/kkutu/short_logo.png')
	div#menu-bar(style='float: right; margin-top: -2%;')

			a(target='_blank', href='//cafe.naver.com/kkutuk', style='background-color: #1DDB16;')= '케이끄 카페'
			a(target='_blank', href='//youtube.kainny.kro.kr', style='background-color: #ff0000;')= '케이끄 유튜브'
			a(target='_blank', href='//discord.kainny.kro.kr', style='background-color: #7289da;')= '케이끄 디스코드'
	div(style='float: left; width: 300px; margin-top: -20px;')
	
		a(href='/?server=0')
			img(src='/image/start.png', style='width: 320px;')
	div(style='float: right; margin-top: 5px; width: 50%; margin-right: 40px;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	div(style='float: left; width: calc(100% - 4px); border: 0px solid #CCC; margin-top: 10px; background-color: none;')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	+separator(0)
	div(style='float: left; width: calc(100% - 0px); border: 0px solid #CCC; margin-top: 0px; margin-left: -18px; background-color: none;')
		a(href='https://play.google.com/store/apps/details?id=com.hustay.swing.d25a2ad4939b541aa88c7568c2f2d2150')
			img(width='26%', height='100px', src="http://kkutuk.com/google-play-badge.png")
block Bottom
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')